
.login-container {
	display: flex;
	height: 100vh;
	background-color: #000; /* Fundo preto */
}

.login-left {
	flex: 1;
	position: relative;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rocket-image {
	max-width: 80%;
	animation: float 3s infinite ease-in-out; /* Efeito de "flutuar" */
}

@keyframes float {
	0%, 100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}
}

.login-right {
	flex: 0.7;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(0deg, rgba(141,20,211,0.5019257703081232) 7%, rgba(141,20,211,0.017331932773109293) 49%, rgba(141,20,211,0.499124649859944) 83%);
	color: #fff;
}

.login-box {
	width: 40%;
	max-width: 400px;
	text-align: center;
}

.logo {
	margin-bottom: 100px;
	max-width: 500px;
}

form {
	display: flex;
	flex-direction: column;
}

	form label {
		text-align: left;
		margin-bottom: 5px;
	}

	form input {
		margin-bottom: 15px;
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #ccc;
		font-size: 16px;
	}

.login-button {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #5a00a3;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

	.login-button:hover {
		background-color: #7d00d1;
	}

.forgot-password {
	margin-top: 10px;
	font-size: 14px;
	color: #ccc;
	text-decoration: none;
}

	.forgot-password:hover {
		color: #fff;
	}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #5a00a3;
	color: #fff;
	font-size: 12px;
}
